<!doctype html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=1080, user-scalable=no, target-densitydpi=device-dpi" />
	<title>게시판</title>
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body>
<script>
    var articleIdx = {{article[0]['articleIdx']|tojson|safe}};
    var targetPw = {{article[0]['password']|tojson|safe}};

    function delete_article() {
        var isTrue = confirm("삭제하시겠습니까?");
        if(isTrue) {
            
            if($("input:password[name='article_password']").val() == targetPw) {
                location.href = "/delete?articleIdx="+articleIdx;
            }else {
                alert("비밀번호가 잘못되었습니다.");
                $("input:password[name='article_password']").val("");
            }

        }
    }
        function update_article() {
            
            if($("input:password[name='article_password']").val() == targetPw) {
                location.href = "/edit?articleIdx="+articleIdx;
            }else {
                alert("비밀번호가 잘못되었습니다.");
                $("input:password[name='article_password']").val("");
            }

                
         }
</script>
    <div class="wrapper">
        <div class="row ">
            <div class="col-12">
                <h1 class="title"><a href="/main">김정은님의 게시판 </a></h1>
            </div>
            
        </div>
        <div class="container">
            <div class="read-inline">    
                <!-- Form Name -->
                <legend>상세보기</legend>
                
                
                <div class="row read-group">
                  <label class="col-md-1">제목</label>  
                  <div class="col-md-11 read">
                      {{article[0]['title']}}
                  </div>
                </div>
                <div class="row read-group">
                    <label class="col-md-1">작성자</label>  
                    <div class="col-md-11 read">
                        {{article[0]['userId']}}
                    </div>
                </div>   
                <div class="row read-group">
                    <label class="col-md-1">작성일</label>  
                    <div class="col-md-11 read">
                        {{article[0]['regDate']}}
                    </div>
                </div>                
                <div class="row read-group">
                    <label class="col-md-1">내용</label>
                    <div class="col-md-12">                     
                      <div class="form-control mb-5 article_content" style="resize: none;height: 300px;">{{article[0]['content']}}</div>
                    </div>
                </div>   
                <div class="row read-group">
                    <label class="col-md-1 read-password">비밀번호</label>  
                    <div class="col-md-11 read">
                     <input id="article_password" name="article_password" type="password" placeholder="비밀번호" class="form-control input-md" style="width: 100px;">
                    </div>
                </div>           

                <!-- <div class="form-group">
                    <label class="col-md-4 control-label" for="source_image">파일</label>
                    <div class="col-md-4">
                      <input id="source_image" name="source_image" class="input-file" type="file">
                    </div>
                  </div>                
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_snippet">Snippet</label>  
                  <div class="col-md-4">
                  <input id="article_snippet" name="article_snippet" type="text" placeholder="Article Snippet" class="form-control input-md">
                    
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_date">Date</label>  
                  <div class="col-md-4">
                  <input id="article_date" name="article_date" type="text" placeholder="article date of publication " class="form-control input-md">
                    
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_categories">Categories</label>
                  <div class="col-md-4">
                    <select id="article_categories" name="article_categories" class="form-control">
                      <option value="1">Option one</option>
                      <option value="2">Option two</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="source_tags">Tage</label>
                  <div class="col-md-4">
                    <select id="source_tags" name="source_tags" class="form-control">
                      <option value="">Option one</option>
                      <option value="">Option two</option>
                    </select>
                  </div>
                </div> -->
                <div class="text-right"> <!--You can add col-lg-12 if you want -->
                    <div class="btn-info btn" onclick="update_article()">수정하기</div>
                    <div class="btn-danger btn delete-btn" onclick="delete_article()">삭제하기</div>
                </div>
            </div>
         </div> ​
    </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>
var content = {{article[0]['content']|tojson|safe}} ;
var formatted = "<pre>"+String(content).replace(/(<br>|<br\/>|<br \/>|&lt;br&gt;)/g, '\r\n')+"</pre> ";
$(".article_content").html(formatted);  
</script>
</body>
