{% include 'head.html' %}
<body>
<script>
        var updated = {{request.args.get('updated')|tojson|safe}};
        var created = {{request.args.get('created')|tojson|safe}};
        // var deleted = {{request.args.get('deleted')|tojson|safe}};
if(updated!=null) {
    if(updated=="True") {
        alert("수정되었습니다");
    } 
}
if(created!=null) {
    if(created=="True") {
        alert("등록완료되었습니다");
    } 
}

</script>
    <div class="wrapper">
        <div class="row ">
            <div class="col-12">
                <h1 class="title"><a href="/main">김정은님의 게시판 </a></h1>
            </div>
            
        </div>
        <div class="container">
            <div class="row col-md-12 custyle">
            <table class="table table-striped custab mb-0 table-hover">
                <thead>
                    <tr>
                        <th class="text-center">NO</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">작성자</th>
                        <th class="text-center">작성일</th>
                        <!-- <th class="text-center">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% if article_list %} {% for result in article_list %}
                    <tr>
                        <td class="text-center">{{ loop.revindex}}</td>
                        <td class="text-center"><a href="/article?articleIdx={{result['articleIdx']}}">{{result['title']}}</a></td>
                        <td class="text-center">{{result['userId']}}</td>
                        <td class="text-center">{{result['regDate']}}</td>
                        <!-- <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td> -->
                    </tr>
                    {% endfor %}{% else %}
                    <tr>
                        <td colspan="4" class="text-center" align="center">조회할 DATA가 없습니다</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="text-right">
                <button  class="btn btn-primary" onclick="location.href='/write'"><b>+</b> 등록</a>
            </div>
        </div>
        </div>
        <div class="paging">
    
        </div>
    </div>
   
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
