{% include 'head.html' %}
<body>
<script>
  if(!{{session.get('logined') | tojson | safe}}) {
    location.href = "/login"
}  
</script>
    <div class="wrapper">
      {% include 'navbar.html' %}
      <!--
        <div class="row ">
            <div class="col-12">
                <h1 class="title"><a href="/main">김정은님의 게시판 </a></h1>
            </div>
        </div>-->
        <div class="container">
            <form class="form-horizontal" method="POST" action="/create"  enctype="multipart/form-data" >
                <input id="article_id" name="article_id" type="hidden" value="">
                <!-- Form Name -->
                <legend>글쓰기</legend>
                
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_title">제목</label>  
                  <div class="col-md-4">
                  <input id="article_title" name="article_title" type="text" placeholder="제목을 입력하세요" class="form-control ">
                  </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="article_content">내용</label>
                    <div class="col-md-4">                     
                      <textarea class="form-control" id="article_content" name="article_content"  style="resize: none;height: 300px;"></textarea>
                    </div>
                  </div>   
                 <!-- Text input-->
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="article_author">작성자</label>  
                    <div class="col-md-4">
                    <input id="article_author" name="article_author" type="text" value="{{session.get('name')}}"placeholder="작성자 이름을 입력하세요" class="form-control input-md" readonly>
                      
                    </div>
                </div>   

                <div class="form-group">
                    <label class="col-md-4 control-label" for="article_file">파일</label>
                    <div class="col-md-4 file-input">
                      <input id="article_file" class="input-file" type="file" name="article_file">
                      <span style="font-size:small;color:red;">jpg, png, gif 파일만 등록 가능합니다 </span>
                    </div>
                  </div>                
                
                  <!-- <div class="form-group">
                  <label class="col-md-4 control-label" for="article_snippet">Snippet</label>  
                  <div class="col-md-4">
                  <input id="article_snippet" name="article_snippet" type="text" placeholder="Article Snippet" class="form-control input-md">
                    
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_date">Date</label>  
                  <div class="col-md-4">
                  <input id="article_date" name="article_date" type="text" placeholder="article date of publication " class="form-control input-md">
                    
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="article_categories">Categories</label>
                  <div class="col-md-4">
                    <select id="article_categories" name="article_categories" class="form-control">
                      <option value="1">Option one</option>
                      <option value="2">Option two</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-4 control-label" for="source_tags">Tage</label>
                  <div class="col-md-4">
                    <select id="source_tags" name="source_tags" class="form-control">
                      <option value="">Option one</option>
                      <option value="">Option two</option>
                    </select>
                  </div>
                </div> -->
                <div class="text-right"> <!--You can add col-lg-12 if you want -->
                    <input type="submit" class="btn-info btn" value="등록하기">
                </div>
            </form>
        </div>

         
         ​
    </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>
var user_id =  {{session.get('userId')|tojson|safe}};
$("form").submit(function(e) {
    var result = $("#article_content").val().replace(/(\n|\r\n)/g, '<br>');
    $("#article_content").val(result);
    $("#article_id").val(user_id);
    
    var file = $('#article_file')[0].files[0];
    var parsingArr = file.name.split(".");
    var type = parsingArr[parsingArr.length-1];
    var UPLOAD_EXTENSIONS =  ['jpg', 'png', 'gif']
    console.log(file);
    console.log(type);
    if(file.size /1024 /1024 > 10 ) { // 10MB
      alert("파일이 10MB를 초과했습니다.")
      return false;
    }

    if(!UPLOAD_EXTENSIONS.includes(type)) {
      alert("파일 확장자가 일치하지 않습니다.")
      return false;   
    }

    return true;
});


</script>
</body>
